* {
    font-family: Arial, Helvetica, sans-serif;

}
body {
    background-color: #f0f2f5;

}

.container{
    display: flex;
    margin: 10%;


}

.left {
    position: relative;
    width: 50%;
    margin-right: 0;
    padding-right: 32px;
    top: 50%;
}


.right{
    display: flexbox;
    justify-content: center;
}

.card {
    background-color: #fff;
    position:relative;
    top: -6%;
    right: -16%;
    width: 127%;
    height: 75%;
    padding-top: 8px;
    padding-bottom: 16px;
    z-index: 5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    overflow: hidden;

}
@media screen and (max-width:810px){
    .container{
        flex-direction: column;
    }
    .left{
        margin-bottom: 60%;
    }
}
.desc{
    position:relative;
    font-size: 175%;
    right:-17%;
    top: -3.5vh;
    color: rgb(35, 34, 34);
    padding-left: 4%;
    padding-right: 8%;

}

input {
    position: relative;
    line-height: 280%;
    border: 1px solid rgba(119, 116, 116, 0.4);
    font-size: 110%;
    padding: 0 4%;
    width: 82%;
    border-radius: 4px;
    color: #000000;
}

input:focus {
    outline: 0.1px solid rgb(73, 117, 199);
    border: 0.1px rgb(123, 179, 231);
    border-style: ridge;
}

input::placeholder {
    color: rgba(10, 10, 10, 0.4);
}

.bottom-link {
    font-size: 14px;
    text-align: center;
}

.fgt-pass {
    color: #1877f2;
    text-decoration: none;
    font-size: 80%;
}

.login-btn {
    position: relative;
    background-color: #1877f2;
    width: 90%;
    height:15.5%;
    font-weight: bold;
    font-size: 120%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr {
    border-bottom: 1px solid #dadde1;
    width: 87.5%;
}

.cna-btn {
    position: relative;
    background-color: #42b72a;
    bottom: -1vh;
    font-weight: bold;
    font-size: 2.2vh;
    overflow: hidden;
    box-sizing: border-box;
    max-width: max-content;
    width: auto;
    height: auto;

}

.cna-btn:hover {
    background-color: #36a420;
}

button {
    color: white;
    line-height: 48px;
    font-size: 20px;
    border-radius: 5px;
    padding: 0 16px;
    border: none;
    cursor: pointer;
    position: relative;
}

.inn {
    margin: 8px 5px;
}
.bottom-link-div{
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 40px 5px;
    left: 29.5%;
    top: -7.3%;

}
.toggle-password {
    position: absolute;
    right: 40px;
    top: 35%;
    transform: translateY(-90%);
    cursor: pointer;
    z-index: 2;
}
.eye-open {
    display: none;
}

.eye-closed {
    display: inline;
}

